{% extends 'base.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Employee</h1>
  <p class="lead">welcome to ForensicXpert Solutions!</p>
  <hr class="my-4">
  <p>You can access various features after Register/Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'register_employee' %}" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="{% url 'employee_login' %}" role="button">Login</a>
  </p>
</div>

{% endblock content %}
