{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}ForensicXpert Login{% endblock %}
{% block content %}
    <br>
    <br>
    <br>


 <form method="post">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Login Page</p>
        </div>

        <div class="form-content">
          <div class="row">

            {% for f in form %}
                <div class="col-md-6">

              <div class="form-group">
                  {{ f|as_crispy_field }}
              </div>

            </div>
            {% endfor %}

          </div>
          <button type="submit" class="btnSubmit">Login</button>
          <div class="text-center">Do not have account? <a href="{% url 'register_user' %}">Signup here</a></div>
        </div>
      </div>
    </div>

  </form>
{% endblock %}
